// prescriptions.component.scss
@media print {
  body * {
    visibility: hidden;
  }
  #printable-rx, #printable-rx * {
    visibility: visible;
  }
  #printable-rx {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20mm;
    background: white !important;
    color: black !important;
  }
}
